<!DOCTYPE html>
<html>
  <head>
  <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>

    <% if (username) { %>
      Hi, <%= username %>.<a href="/user/logout"> Log out</a>
      <% } %>

    </header>
    <% include ../partials/header.ejs %>

    <!-- <form action="/posts/seed" method="POST">
    <input type="submit" value="Seed">
    </form> -->

<button class="btn btn-success"><a href='/users/profile'>**Broken Profile button**</a></button>
    <br>

    <button class="btn btn-success"><a href='/posts/new'>Write a new post!</a></button>

    <br>

    <% for (let post of posts) { %>
        <li>

          <a href="/posts/<%= post._id %>"><img src="<%= post.img %>" alt=""> <h2><%= post.caption %>
          </h2></a>


          <button class="btn btn-success"><a href="/posts/<%=post._id %>/edit">EDIT</a> </button>

          <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Post">
          </form>

          <br>

        </li>
    <% } %>
    </div>
  </body>
</html>
