<!DOCTYPE html>
<html>
  <head>
  <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="container">
    <% include ../partials/header.ejs %>

    <!-- <form action="/posts/seed" method="POST">
    <input type="submit" value="Seed">
    </form> -->

      <div class="links">

        <a href='/profile/<%= foundId[0]._id %>'>View My Profile</a>
      <br>

      <button><a href='/posts/new'>Write a new post!</a></button>

      </div>
      <div class="main">


      <% for (let post of posts) { %>
          <li>

            <a href="/posts/<%= post._id %>"><img src="<%= post.img %>" alt=""> <h2><%= post.caption %></h2></a>

            <h4>Posted By: <%= post.submitted_by %></h4>


            <button <a href="/posts/<%=post._id %>/edit">EDIT</a> </button>

            <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
              <input type="submit" value="Delete Post">
            </form>

            <br>

          </li>
      <% } %>
      </div>
    </div>
  </body>
</html>
