<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <% include ../partials/header.ejs %>

      <div class="main">
        <div class="links">
          <button><a href='/posts'>Back to Feed</a></button>
        </div>

        <li>
          <h1 class="h1 h1-color"><%= onePost.caption %></h1>
          <img src="<%= onePost.img %>" alt="Post Image">
          <h4><span class="titles"> Post:</span><%= onePost.post %></h4>
          <h4><span class="titles">Submitted by:</span><%= onePost.submitted_by %></h4>
          <h4><span class="titles">Location:</span><%= onePost.location %></h4>
          <h4><span class="titles">Link:</span><%= onePost.link %></h4>
          <br>

          <div class="links">
            <button><a href="/posts/<%=onePost._id%>/edit">Edit</a> </button>
          </div>
        </li>
      </div>
    </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
